@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    scroll-behavior:smooth;

}
header{
    background-color: #3366ff;
    width:100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content:space-between;
    padding: 15px 100px;
    align-items: center;

}
.page_log{
    text-decoration: none;
    font-weight:600;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #abcdef;

}
.head a{
    color:#160042;
    text-decoration:none;
    padding-left:20px;
    font-weight:500;
    font-size:1em;
    transform: scale(10%);


}
.head a:hover{
    color: #0000fffc;
}
.main_section{
    width:100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    background: url(../media/imges/back3.jpg) no-repeat ;
    background-size:cover;

}