@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    scroll-behavior:smooth;

}
header{
    background-color: #051622;
    width:100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content:space-between;
    padding: 15px 50px;
    align-items: center;
    margin-bottom: 0px;

}
.page_log{
    text-decoration: none;
    font-weight:600;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #1BA098;

}
/* .head a{
    color:#1BA098;
    text-decoration:none;
    padding-left:20px;
    font-weight:500;
    font-size:1em;
    transform: scale(10%);


} */
.head a:hover{
    color: #0000fffc;
}
.main_section{
    width:100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    background: url(../media/imges/b12.jpg) no-repeat ;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;

}
.log input{
    border-radius: 10px;
    padding: 0.6em;
    width: 300px;
    transition: 0.7s ease;
}
.log input:hover{
    color: slategrey;
    transform: scale();
    background-color: #FFB600;

}
.log a{
    text-decoration: none;
    font-weight:700;
    color:black;
    text-transform: uppercase;
    padding-left: 10px;
    background-color: #FFB600;
    display: inline-block;
    margin: 1px;
    padding: 8px;
    border-radius: 10px;
    transition: 0.7s ease;

}
.social a{
    text-decoration: none;
    padding-left: 10px;
    color: #1BA098;
    font-size: 2.2em;
    transition: 0.3s ease;
}
.social a:hover{
    transform: scale(1.1);
    color: #FFB600;
}

.log a:hover{
    color:#051622;
    background-color: #FFB600;
    transform: scale(1.1);
}
.nav_bar {
    
    text-align: center;
    padding: 100px 20px 20px;
    background-attachment: fixed;
    background-color: #051622;

}
.nav_bar a{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color:#1BA098;
    font-size: 1em;
    font-weight:600;
    padding: 0.500em;
    letter-spacing: 1px;
    border-radius: 10px;
    transition: 0.7s ease;
}

li{
    display: inline;
    padding-left: 10px;
    flex-direction: row;
    
}
.nav_bar a:hover{
    background-color: #051622;
    transform: scale(1.1);
    border-radius: 10px;

}
.nav_bar span{
    color: #ffffff;
}
